body {
    margin: 0;
    min-width: 250px;
    background-image: url('/public/images/stardew_background.png');
    background-color: blue;
  
  }
h2 {
  color: #E19D1D;
  text-align: center;
}

p {
    color: #F9F9F9;
}

  table.customTable {
    width: 100%;
    background-color: #E19D1D;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #F9F9F9;
  }
  
  table.customTable td, table.customTable th {
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
  }
  
  table.customTable thead {
    background-color: #007B1D;
  }
.return {
  display: flex;
  justify-content: center; /* Center the child elements horizontally */
  width: 100%;
  background-color: #f2f2f2; /* Optional: background for the full-width container */
  padding: 10px 0; /* Optional: padding for spacing */
}


.love { 
  background-color: #007B1D;
}
  .portrait {
    max-width: 20%;
    max-height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  