body {
  margin: 0;
  min-width: 250px;
  background-image: url('../images/stardew_background.png');
}

p {
  color: #41c8cf;
}

table.customTable {
  width: 100%;
  background-color: #E19D1D;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  color: #ffffff;
}

table.customTable td, table.customTable th {
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
}

table.customTable thead {
  background-color: #007B1D;
}
